{% extends 'layout/base.html' %}
{% load static %}


{% block title %}
{{collection}}
{% endblock %}

{% block css %}
<style>
    .collection-image {
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
</style>
{% endblock css %}



{% block content %}
<div class="container-fluid px-0 mx-0">
    <div class="row mx-0">
        <div class="col text-center">
            <img src="{{collection.image.url}}" alt="collection.name" class="w-100 collection-image">
            <h1>{{collection.name}}</h1>
            <p class="lead">
                {{collection.desc}}
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>Collections</h3>
            <!-- Some borders are removed -->
            <ul class="list-group list-group-flush">
                {% for col in collections %}
                <li class="list-group-item">
                    <a href=" {% url 'collection_detail' col.id %}" class="nav-link"> &rightarrow;{{col.name}}</a>
                </li>



                {% endfor %}
                <li class="list-group-item">
                    <a href="{% url 'product_all' %}" class="nav-link">
                        &rightarrow;All Products
                    </a>
                </li>

            </ul>


            </ul>
        </div>
        <div class="col-md-10">
            <div class="container-fluid my-5">
                <div class="row">

                    {% for prd in products %}
                    <div class="col-md-4">
                        
                            <div class="card">
                                <img src="{{prd.image.url}}" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h2>{{prd.name}}</h2>
                                    <div class="d-flex justify-content-between">
                                        <p class="fw-bold my-1">RS.{{prd.price}}</p>
                                        <a class="btn btn-primary btn-sm" href="{% url 'product_detail' prd.id %}">View</a>
                                        <a hx-get="{% url 'add_to_cart' prd.id %}" class="btn btn-outline-success btn-sm"> add to cart</a>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    {% empty %}
                    <div class="alert alert-wgarnin" role="alert">
                        <strong> no product available</strong> check later
                    </div>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}